<div class="background-container">
  <img class="moon active" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
  <div class="page-wrapper">
    <h1>Itamar Pereira</h1>
    <h2>Fullstack developer</h2>
  </div>
  <div class="stars active"></div>
  <div class="twinkling active"></div>
  <div class="clouds active"></div>
</div>