@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
  padding: 24px;
	height: 70vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.stars.active {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: fixed;
 height: 110vh;
	top: 0px;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.stars {
  background: url(https://res.cloudinary.com/dn2gpbtwl/image/upload/v1593550251/photo-1563630381190-77c336ea545a_ga32u5.jpg) repeat;
  position: fixed;
  height: 110vh;
   top: 0px;
   left: 0;
   right: 0;
   display: block;
     z-index: 0;
 }

.twinkling.active{
	width:10000px;
	height: 110vh;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds.active{
	width:10000px;
	height: 110vh;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 3;

   -moz-animation:move-background 130s linear infinite;
  -ms-animation:move-background 130s linear infinite;
  -o-animation:move-background 130s linear infinite;
  -webkit-animation:move-background 130s linear infinite;
  animation:move-background 130s linear infinite;
}

.moon.active {
  height: 25vh;
  width:25vh;
  position: fixed;
  z-index: 3;
  right: 20px;
}

.moon {
  height: 25vh;
  width:25vh;
  position: fixed;
  right: 20px;
}

.page-wrapper {
  right: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 184px;
  color: #fff;
  z-index: 4;
}

@media (max-width: 370px){
  .page-wrapper {
    width: 224px;
  }
}

.page-wrapper h2, h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #00beee,
      0 0 70px #00beee,
      0 0 80px #00beee,
      0 0 100px #00beee,
      0 0 150px #00beee;
  }
  to {
    text-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #00beee,
      0 0 35px #00beee,
      0 0 40px #00beee,
      0 0 50px #00beee,
      0 0 75px #00beee;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #00beee,
      0 0 70px #00beee,
      0 0 80px #00beee,
      0 0 100px #00beee,
      0 0 150px #00beee;
  }
  to {
    text-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #00beee,
      0 0 35px #00beee,
      0 0 40px #00beee,
      0 0 50px #00beee,
      0 0 75px #00beee;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #00beee,
      0 0 70px #00beee,
      0 0 80px #00beee,
      0 0 100px #00beee,
      0 0 150px #00beee;
  }
  to {
    text-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px #00beee,
      0 0 35px #00beee,
      0 0 40px #00beee,
      0 0 50px #00beee,
      0 0 75px #00beee;
  }
}